@import '../style.scss';

.write-up p{
    margin: 2% 5% 5% 5%;
}

.acc{
    display: inline-block;
    width: 90%;
    text-align: left;
    margin-bottom: 5%;
}

.accordion-button{
    background-color: #F3B83B;
    color: $text-color;
    box-shadow: inset 0 -1px 0 #F3B83B(0 0 0 / 13%);
}

.accordion-button:not(.collapsed){
    background-image: linear-gradient(#1FBFC5,#F3B83B);
    color: $text-color;
    box-shadow: 4px #ccc;
}

.accordion-button::after{
    color: $text-color;
}
