@import '../style.scss';

.commendations-main{
    display: flex;
    flex-direction: column;
}

.commendations-main h2{
    background-color: $secondary-color;
    color: $text-color;
    font-weight: normal;
    padding: 1%;
    margin-top: 8px;
}

.commendations-sub{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px #ccc;
    margin: 3%;
    padding: 2%;
}

.commendations-sub span{
    font-size: 3rem;
    color: #666;
}

.commendations-sub p{
    margin: 0%;
}

.commendations-sub blockquote{
    margin: 0%;
    padding: 0%;
}

// .commendations-sub figcaption{
//     margin: 0%;
//     padding: 0%;
//     text-align: right;
// }

.commendations-sub p{
    margin: 1%;
    text-align: justify;
}