@import '../style.scss';


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(#1FBFC5,#F3B83B);
    padding: 2%;
    color: $text-color;
}

.header h1{
    display: inline-block;
    width: 48%;
    text-align: left;
    margin: 0;
    font-family: myHeaderFont;
}

.header span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header a{
    margin-left: 1%;
    margin-right: 1%;
    color: $text-color;
    // font-weight: bold;
    padding: 3%;
    font-family: myHeaderFont;
    font-size: large;
}

.header a:hover{
    background-color: $secondary-color;
    text-decoration: underline;
}

.header-navbar{
    width: 48%;
    margin-top: 1%;
}

.header-navbar{
    width: 48%;
    margin-top: 1%;
}

.header a.selected{
    background-color: $secondary-color;
}

.menu-bg{
    background-color: transparent;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
@media only screen and (max-width: 900px) {
    .header h1{
        display: inline-block;
        width: 48%;
        text-align: left;
        margin: 0;
        font-family: myHeaderFont;
        font-size: 1.5rem;
    }

    .header-navbar{
        width: 48%;
        margin-top: 1%;
    }

    .header a{
        margin-left: 1%;
        margin-right: 1%;
        color: $text-color;
        padding: 1%;
        font-family: myHeaderFont;
        font-size: large;
    }
}

@media only screen and (max-width: 500px) {
    .menu-bar{
        width: 35px;
        height: 5px;
        background-color: $text-color;
        margin: 6px 0;
    }

    .show-menu{
        display: block;
    }    
    
    .header-navbar{
        display: none;
    }   
    
    .header h1{
        display: inline-block;
        width: 90%;
        text-align: left;
        margin: 0;
        font-family: myHeaderFont;
        font-size: 1.5rem;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: linear-gradient(#1FBFC5,#F3B83B);
        padding: 4% 2%;
        color: $text-color;
    }

    .mobile-navbar{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
        margin-left: 10%;
        padding-top: 1%;
        background-image: linear-gradient(#F3B83B,#1FBFC5,#F3B83B);
        z-index: 2;
    }

    .mobile-navbar a{
        border-bottom: 1px solid $text-color;        
    }
}
