@font-face {
  font-family: bookAntiquaDefault;
  src: url(./fonts/book-antiqua.ttf);
}

.App {
  text-align: center;
  color: #333;
  background-image: url('./assets/images/transparent-bg2.png');
  background-position: left middle;
  background-repeat: repeat-y;
}

.App p{
  font-family: bookAntiquaDefault;
}

@media only screen and (max-width: 500px) {
  .App {
    text-align: center;
    color: #333;
    background-image: url('./assets/images/transparent-bg2.png');
    background-position: -65% 0%;
    background-repeat: repeat-y;
  }
}